{% extends 'base.html.twig' %}

{% block title %}Random Genres
{% endblock %}

{% block pagedescription %}
	<small>Refresh page to generate random genres</small>
{% endblock pagedescription %}
{% block navbutton %}
	<a href="/story" class="nav-button">Go to Stories</a>
{% endblock navbutton %}

{% block body %}
	<div class='main'>
		<div class='text-content-area'>

			<h1>Random Genres</h1>
			<ul>
				{% for genre in genres %}
					<li>{{genre | capitalize}}</li>
				{% endfor %}
				<ul></div>
				<button class='refresh-button' onclick="window.location.reload();">Refresh Genres</button>
			</div>
		{% endblock %}
