<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Rhythmic Roulette
			{% endblock %}
		</title>
		<link rel="icon" type="image/jpg" href="./favicon.ico" />
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="/css/app.css">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
	<header>
	<div class='site-info'>
		<a href='/'>Rhythmic Roulette</a>
		{% block pagedescription %}
		<small>Random genres and genre stories generator</small>
		{% endblock pagedescription %}
	</div>
		<nav>
			<ul>
				<li><ahref="{{path('app_story')}}"></a></li>
			</ul>
			{% block navbutton %}
			{% endblock navbutton %}
		</nav>
	</header>
	<main>
		{% block body %}{% endblock %}
	</main>

	</body>
</html>
